{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Blue Rental</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 leading-normal tracking-normal">
		{% include "partials/_navbar.html" %}
		<div class="container mx-auto mt-10">
			<section class="">
				{% block content %} {% endblock content %}
			</section>
		</div>
		{% include "partials/_footer.html" %}
	</body>
</html>
